### conda install -c anaconda mysql-connector-python

In [9]:
import mysql.connector
import pandas as pd

In [10]:
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root",
  database="test"
)
df = pd.read_sql('SELECT Cust_name , Country FROM customers', con=db_connection)

In [11]:
df.head(2)

  Cust_name Country
0       FOX     USA
1      WOLF  Canada