In [21]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv('C:/Users/rvaish/Documents/Python Scripts/MachineLearningPython-DataCleaning/MachineLearningPython-DataCleaning/Loan/Loan.csv', skiprows=1, low_memory=False)

In [23]:
print(df.columns)
print(len(df.columns))

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)
145

In [24]:
df[['loan_amnt','settlement_date']]

       loan_amnt settlement_date
0         5000.0             NaN
1         2500.0             NaN
2         2400.0             NaN
3        10000.0             NaN
4         3000.0             NaN
5         5000.0             NaN
6         7000.0             NaN
7         3000.0             NaN
8         5600.0             NaN
9         5375.0             NaN
10        6500.0             NaN
11       12000.0             NaN
12        9000.0             NaN
13        3000.0             NaN
14       10000.0             NaN
15        1000.0             NaN
16       10000.0             NaN
17        3600.0             NaN
18        6000.0             NaN
19        9200.0             NaN
20       20250.0             NaN
21       21000.0             NaN
22       10000.0             NaN
23       10000.0             NaN
24        6000.0             NaN
25       15000.0             NaN
26       15000.0             NaN
27        5000.0             NaN
28        4000.0             NaN
29        8500.0             NaN
...          ...             ...
42508     6000.0             NaN
42509     5350.0             NaN
42510     1900.0             NaN
42511    10000.0             NaN
42512     2000.0             NaN
42513     6000.0             NaN
42514     4400.0             NaN
42515     1200.0             NaN
42516     5000.0             NaN
42517     1400.0             NaN
42518     1000.0             NaN
42519     5000.0             NaN
42520     2500.0             NaN
42521     3000.0             NaN
42522     2600.0             NaN
42523     1000.0             NaN
42524     1275.0             NaN
42525     6450.0             NaN
42526    10500.0             NaN
42527     3000.0             NaN
42528     3000.0             NaN
42529     2000.0             NaN
42530     6500.0             NaN
42531     3500.0             NaN
42532     1000.0             NaN
42533     2525.0             NaN
42534     6500.0             NaN
42535     5000.0             NaN
42536        NaN             NaN
42537        NaN             NaN

[42538 rows x 2 columns]

In [25]:
#Drop the useless columns, on first instance we noticed URL and DESCRIPTION.

In [26]:
df = df.drop(['url','desc'],axis=1)

In [27]:
print(len(df.columns))

143

In [28]:
#Calculating 50% of the data. We will use this output to set our threshold point.

In [32]:
half_count = len(df) / 2
df = df.dropna(thresh=half_count,axis=1) # Drop any column with more than 50% missing values

In [33]:
print(len(df.columns))

53