In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/rvaish/Documents/Python Scripts/MachineLearningPython-DataCleaning/MachineLearningPython-DataCleaning/Loan/Loan.csv', skiprows=1, low_memory=False)

In [6]:
print(df.columns)
print(len(df.columns))

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)
145

In [7]:
df[['loan_amnt','settlement_date']]

       loan_amnt settlement_date
0         5000.0             NaN
1         2500.0             NaN
2         2400.0             NaN
3        10000.0             NaN
4         3000.0             NaN
5         5000.0             NaN
6         7000.0             NaN
7         3000.0             NaN
8         5600.0             NaN
9         5375.0             NaN
10        6500.0             NaN
11       12000.0             NaN
12        9000.0             NaN
13        3000.0             NaN
14       10000.0             NaN
15        1000.0             NaN
16       10000.0             NaN
17        3600.0             NaN
18        6000.0             NaN
19        9200.0             NaN
20       20250.0             NaN
21       21000.0             NaN
22       10000.0             NaN
23       10000.0             NaN
24        6000.0             NaN
25       15000.0             NaN
26       15000.0             NaN
27        5000.0             NaN
28        4000.0             NaN
29        8500.0             NaN
...          ...             ...
42508     6000.0             NaN
42509     5350.0             NaN
42510     1900.0             NaN
42511    10000.0             NaN
42512     2000.0             NaN
42513     6000.0             NaN
42514     4400.0             NaN
42515     1200.0             NaN
42516     5000.0             NaN
42517     1400.0             NaN
42518     1000.0             NaN
42519     5000.0             NaN
42520     2500.0             NaN
42521     3000.0             NaN
42522     2600.0             NaN
42523     1000.0             NaN
42524     1275.0             NaN
42525     6450.0             NaN
42526    10500.0             NaN
42527     3000.0             NaN
42528     3000.0             NaN
42529     2000.0             NaN
42530     6500.0             NaN
42531     3500.0             NaN
42532     1000.0             NaN
42533     2525.0             NaN
42534     6500.0             NaN
42535     5000.0             NaN
42536        NaN             NaN
42537        NaN             NaN

[42538 rows x 2 columns]

In [8]:
#Drop the useless columns, on first instance we noticed URL and DESCRIPTION.

In [9]:
df = df.drop(['url','desc'],axis=1)

In [10]:
print(len(df.columns))

143

In [65]:
#Calculating 50% of the data. We will use this output to set our threshold point.

In [66]:
half_count = len(loans_2007) / 2
df = df.dropna(thresh=half_count,axis=1) # Drop any column with more than 50% missing values

In [67]:
df.shape

(42538, 53)

In [68]:
df[:19]

    loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  installment grade sub_grade                            emp_title emp_length home_ownership  annual_inc verification_status   issue_d  loan_status pymnt_plan             purpose                                  title zip_code addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt last_credit_pull_d  collections_12_mths_ex_med  policy_code application_type  acc_now_delinq  chargeoff_within_12_mths  delinq_amnt  pub_rec_bankruptcies  tax_liens hardship_flag disbursement_method debt_settlement_flag
0      5000.0       5000.0           4975.0   36 months   10.65%       162.87     B        B2                                  NaN  10+ years           RENT     24000.0            Verified  Dec-2011   Fully Paid          n         credit_card                               Computer    860xx         AZ  27.65          0.0         Jan-1985             1.0       3.0      0.0    13648.0      83.7%        9.0                   f        0.0            0.0   5863.155187          5833.84          5000.00         863.16                0.00        0.00                   0.0000     Jan-2015           171.62           Jun-2018                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
1      2500.0       2500.0           2500.0   60 months   15.27%        59.83     C        C4                                Ryder   < 1 year           RENT     30000.0     Source Verified  Dec-2011  Charged Off          n                 car                                   bike    309xx         GA   1.00          0.0         Apr-1999             5.0       3.0      0.0     1687.0       9.4%        4.0                   f        0.0            0.0   1014.530000          1014.53           456.46         435.17                0.00      122.90                   1.1100     Apr-2013           119.66           Oct-2016                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
2      2400.0       2400.0           2400.0   36 months   15.96%        84.33     C        C5                                  NaN  10+ years           RENT     12252.0        Not Verified  Dec-2011   Fully Paid          n      small_business                   real estate business    606xx         IL   8.72          0.0         Nov-2001             2.0       2.0      0.0     2956.0      98.5%       10.0                   f        0.0            0.0   3005.666844          3005.67          2400.00         605.67                0.00        0.00                   0.0000     Jun-2014           649.91           Jun-2017                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
3     10000.0      10000.0          10000.0   36 months   13.49%       339.31     C        C1                  AIR RESOURCES BOARD  10+ years           RENT     49200.0     Source Verified  Dec-2011   Fully Paid          n               other                               personel    917xx         CA  20.00          0.0         Feb-1996             1.0      10.0      0.0     5598.0        21%       37.0                   f        0.0            0.0  12231.890000         12231.89         10000.00        2214.92               16.97        0.00                   0.0000     Jan-2015           357.48           Apr-2016                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
4      3000.0       3000.0           3000.0   60 months   12.69%        67.79     B        B5             University Medical Group     1 year           RENT     80000.0     Source Verified  Dec-2011   Fully Paid          n               other                               Personal    972xx         OR  17.94          0.0         Jan-1996             0.0      15.0      0.0    27783.0      53.9%       38.0                   f        0.0            0.0   4066.908161          4066.91          3000.00        1066.91                0.00        0.00                   0.0000     Jan-2017            67.30           Apr-2018                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
5      5000.0       5000.0           5000.0   36 months    7.90%       156.46     A        A4                 Veolia Transportaton    3 years           RENT     36000.0     Source Verified  Dec-2011   Fully Paid          n             wedding  My wedding loan I promise to pay back    852xx         AZ  11.20          0.0         Nov-2004             3.0       9.0      0.0     7963.0      28.3%       12.0                   f        0.0            0.0   5632.210000          5632.21          5000.00         632.21                0.00        0.00                   0.0000     Jan-2015           161.03           Feb-2017                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
6      7000.0       7000.0           7000.0   60 months   15.96%       170.08     C        C5            Southern Star Photography    8 years           RENT     47004.0        Not Verified  Dec-2011   Fully Paid          n  debt_consolidation                                   Loan    280xx         NC  23.51          0.0         Jul-2005             1.0       7.0      0.0    17726.0      85.6%       11.0                   f        0.0            0.0  10137.840008         10137.84          7000.00        3137.84                0.00        0.00                   0.0000     May-2016          1313.76           Sep-2016                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
7      3000.0       3000.0           3000.0   36 months   18.64%       109.43     E        E1                      MKC Accounting     9 years           RENT     48000.0     Source Verified  Dec-2011   Fully Paid          n                 car                        Car Downpayment    900xx         CA   5.35          0.0         Jan-2007             2.0       4.0      0.0     8221.0      87.5%        4.0                   f        0.0            0.0   3939.135294          3939.14          3000.00         939.14                0.00        0.00                   0.0000     Jan-2015           111.34           Dec-2014                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
8      5600.0       5600.0           5600.0   60 months   21.28%       152.39     F        F2                                  NaN    4 years            OWN     40000.0     Source Verified  Dec-2011  Charged Off          n      small_business   Expand Business & Buy Debt Portfolio    958xx         CA   5.55          0.0         Apr-2004             2.0      11.0      0.0     5210.0      32.6%       13.0                   f        0.0            0.0    647.500000           647.50           162.02         294.94                0.00      190.54                   2.0900     Apr-2012           152.39           Oct-2016                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
9      5375.0       5375.0           5350.0   60 months   12.69%       121.45     B        B5                            Starbucks   < 1 year           RENT     15000.0            Verified  Dec-2011  Charged Off          n               other            Building my credit history.    774xx         TX  18.08          0.0         Sep-2004             0.0       2.0      0.0     9279.0      36.5%        3.0                   f        0.0            0.0   1484.590000          1477.70           673.48         533.42                0.00      277.69                   2.5200     Nov-2012           121.45           Dec-2016                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
10     6500.0       6500.0           6500.0   60 months   14.65%       153.45     C        C3                Southwest Rural metro    5 years            OWN     72000.0        Not Verified  Dec-2011   Fully Paid          n  debt_consolidation             High intrest Consolidation    853xx         AZ  16.12          0.0         Jan-1998             2.0      14.0      0.0     4032.0      20.6%       23.0                   f        0.0            0.0   7678.017673          7678.02          6500.00        1178.02                0.00        0.00                   0.0000     Jun-2013          1655.54           Mar-2018                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
11    12000.0      12000.0          12000.0   36 months   12.69%       402.54     B        B5                                 UCLA  10+ years            OWN     75000.0     Source Verified  Dec-2011   Fully Paid          n  debt_consolidation                          Consolidation    913xx         CA  10.78          0.0         Oct-1989             0.0      12.0      0.0    23336.0      67.1%       34.0                   f        0.0            0.0  13947.989155         13947.99         12000.00        1947.99                0.00        0.00                   0.0000     Sep-2013          6315.30           Aug-2013                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
12     9000.0       9000.0           9000.0   36 months   13.49%       305.38     C        C1  Va. Dept of Conservation/Recreation   < 1 year           RENT     30000.0     Source Verified  Dec-2011  Charged Off          n  debt_consolidation                                freedom    245xx         VA  10.08          0.0         Apr-2004             1.0       4.0      0.0    10452.0      91.7%        9.0                   f        0.0            0.0   2277.320000          2277.32          1256.14         570.26                0.00      450.92                   4.1600     Jul-2012           305.38           Oct-2016                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
13     3000.0       3000.0           3000.0   36 months    9.91%        96.68     B        B1                               Target    3 years           RENT     15000.0     Source Verified  Dec-2011   Fully Paid          n         credit_card                          citicard fund    606xx         IL  12.56          0.0         Jul-2003             2.0      11.0      0.0     7323.0      43.1%       11.0                   f        0.0            0.0   3480.269999          3480.27          3000.00         480.27                0.00        0.00                   0.0000     Jan-2015           102.43           Apr-2017                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
14    10000.0      10000.0          10000.0   36 months   10.65%       325.74     B        B2                                SFMTA    3 years           RENT    100000.0     Source Verified  Dec-2011  Charged Off          n               other                             Other Loan    951xx         CA   7.06          0.0         May-1991             2.0      14.0      0.0    11997.0      55.5%       29.0                   f        0.0            0.0   7471.990000          7471.99          5433.47        1393.42                0.00      645.10                   6.3145     Oct-2013           325.74           Oct-2016                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
15     1000.0       1000.0           1000.0   36 months   16.29%        35.31     D        D1             Internal revenue Service   < 1 year           RENT     28000.0        Not Verified  Dec-2011   Fully Paid          n  debt_consolidation                Debt Consolidation Loan    641xx         MO  20.31          0.0         Sep-2007             1.0      11.0      0.0     6524.0      81.5%       23.0                   f        0.0            0.0   1270.716942          1270.72          1000.00         270.72                0.00        0.00                   0.0000     Jan-2015            36.32           Jun-2018                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
16    10000.0      10000.0          10000.0   36 months   15.27%       347.98     C        C4                    Chin's Restaurant    4 years           RENT     42000.0        Not Verified  Dec-2011   Fully Paid          n    home_improvement                                   Home    921xx         CA  18.60          0.0         Oct-1998             2.0      14.0      0.0    24043.0      70.2%       28.0                   f        0.0            0.0  12527.150000         12527.15         10000.00        2527.15                0.00        0.00                   0.0000     Jan-2015           370.46           Sep-2017                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
17     3600.0       3600.0           3600.0   36 months    6.03%       109.57     A        A1                             Duracell  10+ years       MORTGAGE    110000.0        Not Verified  Dec-2011   Fully Paid          n      major_purchase                                Holiday    067xx         CT  10.52          0.0         Aug-1993             0.0      20.0      0.0    22836.0        16%       42.0                   f        0.0            0.0   3785.271965          3785.27          3600.00         185.27                0.00        0.00                   0.0000     May-2013           583.45           May-2014                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
18     6000.0       6000.0           6000.0   36 months   11.71%       198.46     B        B3                Connection Inspection     1 year       MORTGAGE     84000.0            Verified  Dec-2011   Fully Paid          n             medical                                Medical    890xx         UT  18.44          2.0         Oct-2003             0.0       4.0      0.0        0.0     37.73%       14.0                   f        0.0            0.0   7167.072893          7167.07          6000.00        1152.07               15.00        0.00                   0.0000     Feb-2015            16.98           Jul-2015                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N

   loan_amnt  funded_amnt  funded_amnt_inv        term int_rate  installment grade sub_grade emp_title emp_length home_ownership  annual_inc verification_status   issue_d  loan_status pymnt_plan      purpose     title zip_code addr_state    dti  delinq_2yrs earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal revol_util  total_acc initial_list_status  out_prncp  out_prncp_inv  total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt last_credit_pull_d  collections_12_mths_ex_med  policy_code application_type  acc_now_delinq  chargeoff_within_12_mths  delinq_amnt  pub_rec_bankruptcies  tax_liens hardship_flag disbursement_method debt_settlement_flag
0     5000.0       5000.0           4975.0   36 months   10.65%       162.87     B        B2       NaN  10+ years           RENT     24000.0            Verified  Dec-2011   Fully Paid          n  credit_card  Computer    860xx         AZ  27.65          0.0         Jan-1985             1.0       3.0      0.0    13648.0      83.7%        9.0                   f        0.0            0.0  5863.155187          5833.84          5000.00         863.16                 0.0         0.0                     0.00     Jan-2015           171.62           Jun-2018                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N
1     2500.0       2500.0           2500.0   60 months   15.27%        59.83     C        C4     Ryder   < 1 year           RENT     30000.0     Source Verified  Dec-2011  Charged Off          n          car      bike    309xx         GA   1.00          0.0         Apr-1999             5.0       3.0      0.0     1687.0       9.4%        4.0                   f        0.0            0.0  1014.530000          1014.53           456.46         435.17                 0.0       122.9                     1.11     Apr-2013           119.66           Oct-2016                         0.0          1.0       Individual             0.0                       0.0          0.0                   0.0        0.0             N                Cash                    N

In [71]:
#drop_list = ['id','member_id','funded_amnt','funded_amnt_inv','int_rate','sub_grade','emp_title','issue_d']
#df = df.drop(drop_list,axis=1)

In [73]:
df = df ["loan_amnt","term","installment","grade","emp_length","home_ownership","annual_inc","verification_status","loan_status","purpose","title","addr_state","dti",
"delinq_2yrs","earliest_cr_line","inq_last_6mths","open_acc","pub_rec","revol_bal","revol_util","total_acc","last_credit_pull_d","pub_rec_bankruptcies","fico_average"]

KeyError: ('loan_amnt', 'term', 'installment', 'grade', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'loan_status', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'last_credit_pull_d', 'pub_rec_bankruptcies', 'fico_average')