In [60]:
import pandas as pd

In [61]:
boys = pd.read_csv("D:/DataScienceCollection/DataSets/schools_with_btoilet.csv")

In [62]:
girls = pd.read_csv("D:/DataScienceCollection/DataSets/schools_with_gtoilet.csv")

In [63]:
print(boys.shape)
print(girls.shape)

(110, 13)
(110, 13)

In [64]:
result = pd.concat([boys,girls], axis=0)
print(result.shape)

(220, 13)

In [65]:
result.head(3)

,State_UT,year,Primary_Only,Primary_with_U_Primary,Primary_with_U_Primary_Sec_HrSec,U_Primary_Only,U_Primary_With_Sec_HrSec,Primary_with_U_Primary_Sec,U_Primary_With_Sec,Sec_Only,Sec_with_HrSec.,HrSec_Only,All Schools
0,Andaman & Nicobar Islands,2013-14,91.58,97.37,100.0,0.0,100.0,100.0,0.0,0.0,100.0,0.0,94.52
1,Andaman & Nicobar Islands,2014-15,100.00,100.00,100.0,100.0,100.0,100.0,0.0,0.0,100.0,0.0,100.00
2,Andaman & Nicobar Islands,2015-16,100.00,100.00,100.0,0.0,100.0,100.0,0.0,0.0,100.0,0.0,100.00

In [66]:
result = pd.concat([boys,girls], axis=1)
print(result.shape)

(110, 26)

In [67]:
result.head(3)

,State_UT,year,Primary_Only,Primary_with_U_Primary,Primary_with_U_Primary_Sec_HrSec,U_Primary_Only,U_Primary_With_Sec_HrSec,Primary_with_U_Primary_Sec,U_Primary_With_Sec,Sec_Only,...,Primary_with_U_Primary,Primary_with_U_Primary_Sec_HrSec,U_Primary_Only,U_Primary_With_Sec_HrSec,Primary_with_U_Primary_Sec,U_Primary_With_Sec,Sec_Only,Sec_with_HrSec.,HrSec_Only,All Schools
0,Andaman & Nicobar Islands,2013-14,91.58,97.37,100.0,0.0,100.0,100.0,0.0,0.0,...,95.98,98.81,91.39,98.25,97.33,94.40,99.06,98.36,76.14,91.23
1,Andaman & Nicobar Islands,2014-15,100.00,100.00,100.0,100.0,100.0,100.0,0.0,0.0,...,96.92,99.48,91.39,99.23,98.19,96.61,90.26,94.05,90.94,93.08
2,Andaman & Nicobar Islands,2015-16,100.00,100.00,100.0,0.0,100.0,100.0,0.0,0.0,...,99.03,99.72,96.32,99.60,99.31,98.82,95.18,98.31,96.22,97.52

In [69]:
result = pd.concat([boys,girls], axis=0, ignore_index=False)
print(result.shape)
result=result.iloc[108:114,0:2]
print(result)

(220, 13)
                      State_UT     year
108                  All India  2014-15
109                  All India  2015-16
0                    All India  2013-14
1                    All India  2014-15
2                    All India  2015-16
3    Andaman & Nicobar Islands  2013-14

In [71]:
result = pd.concat([boys,girls], axis=0, ignore_index=True)
print(result.shape)
result=result.iloc[108:114,0:2]
print(result)

(220, 13)
                      State_UT     year
108                  All India  2014-15
109                  All India  2015-16
110                  All India  2013-14
111                  All India  2014-15
112                  All India  2015-16
113  Andaman & Nicobar Islands  2013-14

In [45]:
boysgirls = boys.append(girls)

In [48]:
print(boysgirls.shape)

(220, 13)

In [72]:
boysgirls=boysgirls.iloc[108:114,0:2]
print(boysgirls)

                      State_UT     year
108                  All India  2014-15
109                  All India  2015-16
0                    All India  2013-14
1                    All India  2014-15
2                    All India  2015-16
3    Andaman & Nicobar Islands  2013-14